ion-header{
    --ion-background-color:black;
}
ion-content{
    --ion-background-color:black;
}
ion-footer{
  --ion-background-color:black;
  margin: 0;
  padding: 0;
}
ion-item{
  --ion-background-color:gray;
  --ion-text-color: white;
}