<ion-header>
  <ion-toolbar>
    Home
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding [fullscreen]="true">
  <h1>Artists</h1>
  <ion-slides [options]="slideOps" *ngIf="artists.length">
    <ion-slide *ngFor="let artist of artists; let i = index">
      <ion-avatar (click)="openModal(artist)">
        <img [src]="artist.images[0].url"/>
        <span>{{artist.name}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides>
  <!-- <h1>Songs</h1>
  <ion-slides [options]="slideOps" *ngIf="artists.length">
    <ion-slide *ngFor="let artist of artists; let i = index">
      <ion-avatar>
        <img src="https://via.placeholder.com/150" />
        <span>{{i}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides>
  <h1>Album</h1>
  <ion-slides [options]="slideOps" *ngIf="artists.length">
    <ion-slide *ngFor="let artist of artists; let i = index">
      <ion-avatar>
        <img src="https://via.placeholder.com/150" />
        <span>{{i}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides> -->
</ion-content>
<ion-footer>
  <!-- <ion-text color="danger" *ngIf="artistGen == ''">
    <h2>Aqui aparecera el genero del artista</h2>
  </ion-text>
  <ion-text color="danger" *ngIf="artistGen != ''">
    <h2>{{artistGen}}</h2>
  </ion-text> -->
  <ion-grid>
    <ion-row *ngIf="artistGen.gen != ''">
      <ion-col class="ion-text-center" size="6">{{ parseTime(currentSong.currentTime) || "00:00"}}</ion-col>
      <ion-col class="ion-text-center" size="6">{{ parseTime(currentSong.duration) || "00:00"}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <ion-progress-bar [value]="this.newTime"></ion-progress-bar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size="1">
        <ion-icon name="heart"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="10">
        {{artistGen.gen || "You haven't selected a genre yet"}}
      </ion-col>
      <ion-col class="ion-text-center" size="1">
        <ion-icon name="play" (click)="play()" *ngIf="!artistGen.playing"></ion-icon>
        <ion-icon name="pause" (click)="pause()" *ngIf="artistGen.playing"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-footer>