<ion-header>
  <ion-toolbar>
    <ion-title>{{ artist.name + "- All Genres" }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-circle" (click)="closeModal(false, '')" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let gen of artist.genres; index as i" (click)="closeModal(true, gen)">
      <ion-avatar>
        {{ i + 1 }}
      </ion-avatar>
      <ion-label>
        <h2>{{gen }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

